<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Water consumption</title>
  </head>
  <body>
    <div class="container">
      <h2>Water Consumption for Today</h2>

      <p><strong>Username:</strong> {{ username }}</p>
      <p><strong>Date:</strong> {{ date }}</p>
      <p>
        <strong>Total Water Consumed Today:</strong> {{ total_water_today }}
        liters
      </p>
    </div>
  </body>
</html>
