{% extends "base.html" %} {% load bootstrap5 %} {% load static %} {% load i18n %}
{% block title %}Water Consumption Log{% endblock %}{% block content %}

<div class="d-flex justify-content-center align-items-center flex-column">
  <div class="container-fluid text-center">
      <h2>{{ translated_title }}</h2>
      <p><span>{{translated_date}}</span><strong class="display-4">{{ total_water_today }}</strong>{{unit}} </p>  
  </div>
  <div class="d-flex justify-content-center w-100">
      <form method="post" class="text-center">
          {% csrf_token %}
          {% for field in form %}
          <div class="mb-3">
              {% bootstrap_field field layout='floating' %}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary w-100">{% trans "Add Water Consumption" %}</button>
      </form>
  </div>
</div>


<!-- React Component will be rendered below -->
<div id="react-root"></div>
{% endblock %} {% block extra_scripts %}

<style>
  .form-field > p {
      display: inline-block;
      margin-right: 10px;
  }
</style>


{% endblock %}


