<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Water consumption</title>
  </head>
  <body>
    <p>How much water you drink a day</p>
    {% if waters %} {% for element in waters%}
    <p>
      {{element.user.id}}{{element.user}} has drank {{element.amount_drank}} on
      {{element.date}} {% endfor %}
    </p>
    {% else %}
    <p>You need to drink water</p>
    {% endif %}
  </body>
</html>
